.vp-doc a {
  text-decoration: none;
  padding: 0 4px;
}

.VPNavBarMenuLink.active {
  font-weight: bolder;
}

/* 主题色 */
:root {
  --vp-c-brand-1: #d4380d;
  --vp-c-brand-2: #fa541c;
  --vp-c-brand-3: #ff7a45;
}

.dark {
  --vp-c-brand-1: #ff9c6e;
  --vp-c-brand-2: #ff7a45;
  --vp-c-brand-3: #fa541c;
}

/* 提示框背景颜色 */
:root {
  --vp-custom-block-tip-bg: var(--vp-c-green-soft);
}

/* 提示框 */
.custom-block.tip {
  border-color: var(--vp-c-green-2);
}

/* 警告框 */
.custom-block.warning {
  /* border-color: #d97706; */
  border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
  /* border-color: #f43f5e; */
  border-color: var(--vp-c-red-2);
}