/*.layout-bg, .theme-container {
  background-image: url(/cover-light.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}*/

.card {
  padding: 8px 16px;
  background-color: #fff;
  border: 1px #e8e8e8 solid;
  border-radius: 4px;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: end;
}

.mt-1 {
  margin-top: 8px;
}